body {
	font-family: 'Open Sans', sans-serif;
	background-color: #1C2C52;
}

.notice {
    min-height: 4em;
    padding: 1em;
    margin-bottom: 1em;
	background-color: white;
	box-shadow: 0 0 8px black;
}

#left, #right {
	width: 48%;
	padding: 1%;
}

#left {
	float: left;
}

#right {
	float: right;
}

#bottom {
	clear: both;
	padding: 1%;
}

#buttons {
	padding: 0 1%;
	text-align: right;
}

pre {
	white-space: pre-wrap;
}

#result, #preview {
	background-color: white;
	padding: 1.5em;
	box-shadow: 0 0 8px black;
}

h1, h2 {
	color: white;
	font-family: 'Raleway', 'Open Sans', sans-serif;
}

h1 {
	padding: 1%;
}

footer {
	padding: 1%;
	font-size: 0.7em;
	color: #bbb;
	text-align: right;
}

a {
	color: #eee;
}

a:hover {
	color: #ccc;
}

